.App {
  font-family: sans-serif;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hover-border-blue:hover {
  border: 1px solid blue;
}

.cursor-pointer {
  cursor: pointer;
}
